.div_middle{
    height: auto;
    text-align: center;
};

#test_id{
    border-width: 0px;
}

fieldset{
    border-width: 0px;
}

imput{
    border-radius: 10px;
}

.finish_table{
    border: 1mm;
    border-color: black;
    margin: auto;
    border-radius: 5px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 236, 140);
}

li{
    
    margin: auto;
}

.div_middle{
    max-width: 40%;
}

h1{
    color: rgb(241, 76, 10);
    margin: auto;
    max-width: 70%;
    text-align: center;
}

h2{
    color: #389453;
    margin: auto;
    max-width: 70%;
    text-align: center;
}

#response_field{
    color: #990000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div1{
    max-width: 65%;
    text-align:justify;
}

.div2{
    max-width: 55%;
    display: flexbox;
    text-align:justify;
    flex-direction: column;
    align-items: flex-start; 
}

.div3{
    max-width: 65%;
    text-align:justify;
}

.div4{
    max-width: 55%;
    text-align: center;
}

#timer{
    border-radius: 10px;
    color: rgb(rgb(50, 15, 175), green, blue);
    background-color:rgb(228, 227, 170)
}

#start_button{
    border-radius: 10px;
    color: rgb(rgb(50, 15, 175), green, blue);
    background-color:rgb(228, 227, 170)
}

.div_answer{
    min-height: 180px;
    text-align: left;
}


.right{
    background-color: rgb(147, 226, 102);
}

.wrong{
    background-color: rgb(230, 128, 88);
}

#timer_on_test{
    border-radius: 10px;
    color: rgb(rgb(50, 15, 175), green, blue);
    background-color:rgb(228, 227, 170)
}

.standart{
    border-radius: 10px;
    color: rgb(rgb(50, 15, 175), green, blue);
    background-color:rgb(228, 227, 170);
}

.looked{
    border-radius: 10px;
    color: rgb(rgb(50, 15, 175), green, blue);
    background-color:rgb(233, 151, 75);
}

.answered{
    border-radius: 10px;
    color: rgb(rgb(50, 15, 175), green, blue);
    background-color:rgb(164, 238, 103);
}