body{
    background-color:  #cbe3d3;

    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333333;
    font-family: "CONSOLAS";
}

#tables{
    margin: auto;
    background-color: #b9dcc8;
    border-radius: 5px;
}

#images{
    border: 10px;
    border-radius: 5px;
    box-shadow: 10px 5px 50px teal;
    height: 200px;
}

#button{
    background: #fb969c;
    text-align: center;
    border-radius: 10px;
}

#input{
    background-color: #b9dcc8;
    text-align: center;
    color: #336699;
    border-radius: 10px;
    width: 200px;
}

#selector{
    background-color: #ccffcc;
    border-radius: 10px;
}

.alert{
    color: #f80c33;
    font-size: 20px
}

