body{
    background-color:rgba(216, 218, 96, 0.829);
}

h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: coral;
}

svg{
    min-width: 98vw;
    min-height: 70vh;
    color-interpolation-filters: linearRGB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#btn{
    border-radius: 20px;
}

#input_number{
    width: 180px;
    border-radius: 15px;
    text-align: center;
    background-color: antiquewhite;
}

span{
    max-width: 600px;
    color: rgb(93, 71, 194);
}
