table{
    margin: auto;
    width: 100%;
    text-align: center;
}

table td{
    width: 11%;
    word-break: break-all;
}

.inputs{
    box-shadow: none;
    min-width: 1%;
    min-height: 20px;
    max-height: 20px;
}

#right_login{
    float: right;
    margin-right: 5%;
}

#right_exit{
    float: right;
    margin-right: 5%;
}