.message{
    color: white;
    text-align: center;
    margin-top: 0;
}

#right_login{
    float: right;
    margin-right: 5%;
}

#right_exit{
    float: right;
    margin-right: 4%;
    background-color: #03dac6;
    color: black;
    width: 5vw;
    height: 3vh;
    border-radius: 10px;
}

#right_exit:hover{
    background-color: #aeeeee;
}

#useless{
   padding: 3vw;
}