#right_login{
    float: right;
    margin-right: 5%;
}

#right_exit{
    float: right;
    margin-right: 4%;
    background-color: #03dac6;
    color: black;
    width: 5vw;
    height: 3vh;
    border-radius: 10px;
}

#right_exit:hover{
    background-color: #aeeeee;
}

table{
    background-color: #3c4042;
    border: 3px solid rgb(152, 149, 149);
    margin: auto;
    width: 70%;
    text-align: center;
    color: white;
}

table td{
    width: 15%;
    word-break: break-all;
}

table tr:hover{
    background-color: rgb(152, 149, 149);
    color: black;
}

.light{
    background-color: white;
    color: black;
}

.light:hover{
    background-color: rgb(152, 149, 149);
    color: white;
}