body{
    background-color: #e0dfa7;
    color: #c90338;
}

header{
    min-height: 5vh;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    font-size: 20px;
    margin-left: 5%;
    max-width: 90%;
    text-align: center;
}

.link{
    color: #93a243;
    text-decoration: underline;
    cursor: pointer;
}
